// SCSS
button,
.button {
    background-color: $color-primary;
    border: none;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font: $font-global;
    color: #fff;
    cursor: pointer;
}

button:hover,
.button:hover {
    background-color: $color-primary-hover;
}