<section>
    <div class="app-width">
        <div class="team">
            <h2>Meet the team</h2>
            <div class="team-members">
                <div class="team-member">
                    <img aria-label="Mark - Veterinarian" src="assets/team/mark.png" alt="Mark - Veterinarian">
                    <div class="team-member-info">
                        <div class="flex-fill"></div>
                        <h3>Mark</h3>
                        <p>Veterinarian</p>
                        <div class="flex-fill"></div>
                    </div>
                </div>
                <div class="team-member">
                    <img aria-label="Donna - Veterinarian" src="assets/team/donna.png" alt="Donna - Veterinarian">
                    <div class="team-member-info">
                        <div class="flex-fill"></div>
                        <h3>Donna</h3>
                        <p>Veterinarian</p>
                        <div class="flex-fill"></div>
                    </div>
                </div>
                <div class="team-member">
                    <img aria-label="Lauren - Veterinarian" src="assets/team/lauren.png" alt="Lauren - Veterinarian">
                    <div class="team-member-info">
                        <div class="flex-fill"></div>
                        <h3>Lauren</h3>
                        <p>Veterinarian</p>
                        <div class="flex-fill"></div>
                    </div>
                </div>
                <div class="team-member">
                    <img aria-label="Alex - Veterinarian" src="assets/team/alex.png" alt="Alex - Veterinarian">
                    <div class="team-member-info">
                        <div class="flex-fill"></div>
                        <h3>Alex</h3>
                        <p>Veterinarian</p>
                        <div class="flex-fill"></div>
                    </div>
                </div>
                <div class="team-member">
                    <img aria-label="Mary - Receptionist" src="assets/team/mary.png" alt="Mary - Receptionist">
                    <div class="team-member-info">
                        <div class="flex-fill"></div>
                        <h3>Mary</h3>
                        <p>Receptionist</p>
                        <div class="flex-fill"></div>
                    </div>
                </div>
                <div class="team-member">
                    <img aria-label="Dan - Receptionist" src="assets/team/dan.png" alt="Dan - Receptionist">
                    <div class="team-member-info">
                        <div class="flex-fill"></div>
                        <h3>Dan</h3>
                        <p>Receptionist</p>
                        <div class="flex-fill"></div>
                    </div>
                </div>
                <div class="team-member">
                    <img aria-label="Claire - Receptionist" src="assets/team/claire.png" alt="Claire - Receptionist">
                    <div class="team-member-info">
                        <div class="flex-fill"></div>
                        <h3>Claire</h3>
                        <p>Receptionist</p>
                        <div class="flex-fill"></div>
                    </div>
                </div>
                <div class="team-member">
                    <img aria-label="Paul - Receptionist" src="assets/team/paul.png" alt="Paul - Receptionist">
                    <div class="team-member-info">
                        <div class="flex-fill"></div>
                        <h3>Paul</h3>
                        <p>Our resident pug!</p>
                        <div class="flex-fill"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>