<div id="myModal" class="form modal">
    <div class="modal-content">
        <form>
            <span class="close">&times;</span>
            <h3>Contact form</h3>
            <p>We'll get back to you wihtin 24 hours.</p>
            <input aria-label="Your name" type="text" id="name" name="name" placeholder="Your name"><br>
            <input aria-label="Your email address" type="email" id="email" name="email" placeholder="Your email address"><br>
            <input aria-label="Your phone number" type="tel" id="email" name="email" placeholder="Your phone number"><br>
            <input aria-label="Subject" type="text" id="subject" name="subject" placeholder="Subject"><br>
            <textarea aria-label="Your message" id="subject" name="subject" rows="6" placeholder="Your message"></textarea><br>
            <input type="submit" value="Send" class="button">
        </form>
    </div>
</div>