<section>
    <div class="app-width">
        <div class="hero-contact">
            <div class="contact-info">
                <h1>Due a visit?</h1>
                <form>
                    <p>Fill in this booking form and you'll receive confirmation wihtin 24 hours.</p>
                    <input aria-label="Your name" type="text" id="name" name="name" placeholder="Your name"><br>
                    <input aria-label="Your pet's name" type="text" id="petname" name="petname" placeholder="Your pet's name"><br>
                    <input aria-label="Your email address" type="email" id="email" name="email" placeholder="Your email address"><br>
                    <input aria-label="Your phone number" type="tel" id="email" name="email" placeholder="Your phone number"><br>
                    <label for="appointment">Your preferred date and time:</label><br>
                    <div class="datetime">
                        <input aria-label="Appointment" type="datetime-local" id="appointment" name="appointment">
                        <div></div>
                    </div>
                    <input aria-label="Confirm" type="submit" value="Confirm" class="button">
                </form>
            </div>
        </div>
    </div>
</section>