<section>
    <div class="app-width">
        <div class="testimonials">
            <h2>Testimonials</h2>
            <div class="testimonial-list">
                <div class="testimonial">
                    <img aria-label="Debby" src="assets/testimonials/debby.png" alt="Debby">
                    <div class="testimonial-info">
                        <h3>“Excellent aftercare”</h3>
                        <p class="testimonial-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui enim ratione voluptatem.</p>
                        <p class="testimonial-name">- Debby Wilson, Bristol</p>
                    </div>
                </div>
                <div class="testimonial">
                    <img aria-label="Lisa " src="assets/testimonials/lisa.png " alt="Lisa ">
                    <div class="testimonial-info ">
                        <h3>“My dogs approve”</h3>
                        <p class="testimonial-text ">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, consectetur quis.</p>
                        <p class="testimonial-name ">- Lisa Gilbert, Bristol</p>
                    </div>
                </div>
                <div class="testimonial">
                    <img aria-label="Matthew " src="assets/testimonials/matt.png " alt="Matthew ">
                    <div class="testimonial-info ">
                        <h3>“Brilliant team”</h3>
                        <p class="testimonial-text ">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia magni sequi dolor.</p>
                        <p class="testimonial-name ">- Matthew Davis, Bristol</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>