<section>
    <div class="parallax">
    </div>
    <div class="app-width">
        <div class="parallax-sections">
            <div class="parallax-section">
                <div class="parallax-text scrollFade">
                    <h2>Care without compromise</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut purus vitae dolor viverra interdum. Integer eu malesuada massa, eu scelerisque purus. Vestibulum ut purus venenatis, malesuada orci vel, lobortis nibh. Cras et ligula.</p>
                </div>
            </div>
            <div class="parallax-section">
                <div class="parallax-text scrollFade">
                    <h2>State of the art technology</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut purus vitae dolor viverra interdum. Integer eu malesuada massa, eu scelerisque purus. Vestibulum ut purus venenatis, malesuada orci vel, lobortis nibh. Cras et ligula.</p>
                </div>
            </div>
            <div class="parallax-section">
                <div class="parallax-text scrollFade">
                    <h2>We cater for all</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut purus vitae dolor viverra interdum. Integer eu malesuada massa, eu scelerisque purus. Vestibulum ut purus venenatis, malesuada orci vel, lobortis nibh. Cras et ligula.</p>
                </div>
            </div>
        </div>
    </div>
</section>