<section>
    <div class="app-width">
        <div class="hero-contact">
            <div class="contact-info">
                <h1>Need a refill?</h1>
                <form>
                    <p>Fill in this order form and you'll receive confirmation wihtin 24 hours.</p>
                    <input aria-label="Your name" type="text" id="name" name="name" placeholder="Your name"><br>
                    <input aria-label="Your pet's name" type="text" id="petname" name="petname" placeholder="Your pet's name"><br>
                    <input aria-label="Your email address" type="email" id="email" name="email" placeholder="Your email address"><br>
                    <input aria-label="Your phone number" type="tel" id="email" name="email" placeholder="Your phone number"><br>
                    <textarea aria-label="Prescription" id="prescription" name="prescription" rows="3" placeholder="Prescription details"></textarea>
                    <input aria-label="Confirm" type="submit" value="Confirm" class="button">
                </form>
            </div>
        </div>
    </div>
</section>